.results-contianer {
  padding: 0 3em;
  width: 100%;
  /* text-align: center; */
  white-space: pre;
  grid-column: span 2;
  line-height: 2rem;
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1em 1em;
  gap: 1em;
  width: 20em;
  justify-self: center;
  align-self: center;
  box-shadow: inset 0px 0px 4em 1em var(--theme-color),
    0 0 0.2em 0.2em rgba(0, 0, 0, 0.6);
  background-color: white;
  border-radius: 10px;
  border: 2px solid white;
  padding: 2em;
  height: fit-content;
  width: fit-content;
}

.result {
  width: 7em;
  height: 2em;
  line-height: 1.5rem;
  font-size: 1.3rem;
}
