.char-aura {
  height: 40px;
  width: auto;
  cursor: pointer;
}

.current-aura {
  padding: 3px;
}

.selected-aura {
  border-radius: 50%;
  background: rgb(255, 255, 255);
  /* background: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(154, 154, 154, 0.4) 100%
    ); */
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  /* inset 0 0 20px rgba(220, 220, 220, 0.3); */
}

.aura-selecter {
  background-color: white;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  padding: 4px;
  display: none;
}

.char-aura-container {
  flex-basis: 33.33%;
  display: flex;
  justify-content: center;
}

/* .enemy-preview-container:hover .current-aura {
    display: none;
  } */

/* .enemy-preview-container:hover .aura-selecter {
    display: flex;
  } */

/* .char-aura-container:hover .current-aura {
    display: none;
  } */

.char-aura-container:hover + .aura-selecter {
  display: flex;
  position: absolute;
}

.aura-selecter:hover {
  display: flex;
  position: absolute;
}
