:root {
  --theme-color: #f3dff3;
  --accent-color: #eec7da;
  --alert-color: #612541;
}

body {
  background-color: white;
  /* background-color: #222831; */
  /* background-color: #e8d9e8; */
  background-attachment: fixed;
  /* font-family: "Comfortaa", cursive; */
  /* font-family: "Forum", cursive; */
  /* font-family: "Gruppo", cursive; */
  font-family: "Lato", sans-serif;
  /* font-family: "Poiret One", cursive; */
  /* font-family: "Press Start 2P", cursive; */
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
  background: #fafafa;
}

.char-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  padding: 3em;
  text-align: center;
  grid-template-rows: auto 1fr;
}

.enemy-info {
  grid-template-rows: 1fr auto;
}

.enemy-info .stats-container {
  justify-self: center;
  align-self: end;
}

.stats-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 2px solid black;
  height: fit-content;
  padding: 1em;
  border-radius: 10px;
  box-shadow: inset 0px 0px 4em 1em var(--theme-color),
    0 0 0.2em 0.2em rgba(0, 0, 0, 0.6);
  background-color: white;
}

.stat-input {
  width: 5em;
  height: 2em;
  text-align: center;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
}

.stat-input-label {
  font-size: 1.4rem;
}

.stat-container {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.state-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.level-container {
  flex-basis: 33.33%;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.level {
  display: flex;
  align-items: center;
}

.level-input {
  display: none;
}

.level-container:hover .level {
  display: none;
}

.level-container:hover .level-input {
  display: block;
}
